<html>
	<body>
		{% include "base_loggedin.html" %}

                {% if session['logged_in'] is undefined %}
                        <script> document.location.href = "/login" </script>
                {% endif %}

		<br><br><br>

		<div class="container">
			<div class="jumbotron">
				<h1> Highlands </h1>
				<p> ZeroTier-One information: </p>
				<hr>
				<div>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col"> Property </th>
								<th scope="col"> Value </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> Member Address </td>
								<td> {{ status["address"] }} </td>
							</tr>
							<tr>
								<td> Online </td>
								<td> {{ status["online"] }} </td>
							</tr>
							<tr>
								<td> Version </td>
								<td> {{ status["version"] }} </td>
							</tr>
							<tr>
								<td> Version Build </td>
								<td> {{ status["versionBuild"] }} </td>
							</tr>
							<tr>
								<td> Version Major </td>
								<td> {{ status["versionMajor"] }} </td>
							</tr>
							<tr>
								<td> Versiom Minor </td>
								<td> {{ status["versionMinor"] }} </td>
							</tr>
							<tr>
								<td> Version Revision </td>
								<td> {{ status["versionRev"] }} </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

		{% include "footer.html" %}
	</body>
</html>
