<html>
	<body>
		{% include "base_loggedin.html" %}

		<br><br><br>

		<div class="container">
			<div class="jumbotron">
				<h1> Highlands </h1>
				<p> Networks on this controller: </p>
				<hr>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNetworkCenter" style="margin-bottom: 25px;"> Create Network </button>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th scope="col"> Name </th>
							<th scope="col"> ID </th>
							<th scope="col"> Actions </th>
						</tr>
					</thead>
					<tbody>
						{% if networks|length <= 0 %}
							<tr>
								<td> No networks found... </td>
							</tr>
						{% endif %}
						{% for network in networks %}
							<tr>
								<td> {{ network['name'] }} </td>
								<td> {{ network['id'] }} </td>
								<td>
									<div class="btn-toolbar" role="toolbar" aria-label="Network Management Toolbar">
										<div class="btn-group mr-2" role="group" aria-label="group">
											<a class="btn btn-primary" data-toggle="modal" data-target="#modal{{ network['id'] }}detail"> Detail </a>
											<a class="btn btn-info" data-toggle="modal" data-target="#modal{{ network['id'] }}members" style="color: black;"> Members </a>
											<a class="btn btn-warning" data-toggle="modal" data-target="#modal{{ network['id'] }}setup" style="color: black;"> Setup </a>
											<a class="btn btn-success" data-toggle="modal" data-target="#modal{{ network['id'] }}routes"> Routes </a>
											<a class="btn btn-danger" data-toggle="modal" data-target="#modal{{ network['id'] }}delete"> Delete </a>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
                            {% if "Success!" in message %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% elif "Error!" in message %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endwith %}

			</div>
		</div>

		{% include "footer.html" %}

        <!-- Create network modal -->
        <div class="modal fade" id="createNetworkCenter" tabindex="-1" role="dialog" aria-labelledby="createNetworkTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createNetworkTitle">Create Network</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/createnetworkcheck" method="POST">
                            <!-- Network Name -->
                            <div class="form-group">
                                <label for="network-name"> Network Name </label>
                                <input type="text" class="form-control" name="network-name" aria-describedby="network-name-help" placeholder="Enter Network Name">
                                <small id="network-name-help" class="form-text text-muted">Please enter desired network name. </small>
                            </div>
                            <!-- Submit -->
                            <button type="submit" class="btn btn-primary"> Submit </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% for network in networks %}
            {% set members = network['id'] | members_list %}
            <div class="modal fade" id="modal{{ network['id'] }}setup" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}setupTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ network['id'] }}setupTitle">Setup: {{ network['name'] }} - {{ network['id'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/setupnetworkcheck" method="post">
                                <!-- IP Assignment CIDR -->
                                <div class="form-group">
                                    <label for="cidr"> IP Assignment Pool CIDR </label>
                                    <input type="text" class="form-control" name="cidr" aria-describedby="cidr" placeholder="Enter IP Assignment CIDR">
                                    <small id="cidr-help" class="form-text text-muted">Example: 192.168.2.0/24 </small>
                                </div>

                                <!-- IP Assignment Pool Start -->
                                <div class="form-group">
                                    <label for="ipassignment-start"> IP Assignment Pool Start </label>
                                    <input type="text" class="form-control" name="ipassignment-start" aria-describedby="ipassignment-start" placeholder="Enter IP Assignment Start">
                                    <small id="ipassignment-start-help" class="form-text text-muted">Example: 192.168.2.100 </small>
                                </div>

                                <!-- IP Assignment Pool Start -->
                                <div class="form-group">
                                    <label for="ipassignment-end"> IP Assignment Pool Start </label>
                                    <input type="text" class="form-control" name="ipassignment-end" aria-describedby="ipassignment-end" placeholder="Enter IP Assignment End">
                                    <small id="ipassignment-end-help" class="form-text text-muted">Example: 192.168.2.254 </small>
                                </div>

                                <!-- NWID -->
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="network-nwid" value="{{ network['id'] }}">
                                </div>

                                <!-- Submit -->
                                <button type="submit" class="btn btn-primary"> Submit </button>	
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                        
            <div class="modal fade" id="modal{{ network['id'] }}addroute" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}addrouteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="modal{{ network['id'] }}addrouteTitle">Add Route: {{ network['name'] }} - {{ network['id'] }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form action="/addroutecheck" method="POST">
                                <!-- Custom Route -->
                                <div class="form-group">
                                    <label for="cidr"> Target </label>
                                    <input type="text" class="form-control" name="target" aria-describedby="routeDesc" placeholder="Enter target">
                                    <small id="routeDesc" class="form-text text-muted">Example: 192.168.5.0/24 </small>
                                </div>
                                <!-- Custom Route -->
                                <div class="form-group">
                                    <label for="route"> Via </label>
                                    <input type="text" class="form-control" name="via" aria-describedby="viaDesc" placeholder="Enter via address">
                                    <small id="viaDesc" class="form-text text-muted">Example: 192.168.5.1 </small>
                                </div>

                                <!-- NWID -->
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="network-nwid" value="{{ network['id'] }}">
                                </div>

                                <!-- Submit -->
                                <button type="submit" class="btn btn-primary"> Submit </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal{{ network['id'] }}members" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}membersTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ network['id'] }}members">Members: {{ network['name'] }} - {{ network['id'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead class="thead-dark">
                                    <th scope="col"> Description </th>
                                    <th scope="col"> Member ID </th>
                                    <th scope="col"> Actions </th>
                                </thead>
                                <tbody>
                                    {% for member in members %}
                                        {% if member is undefined %}
                                        <tr>
                                            <td> No members found...</td>
                                            <td></td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td>
                                                {% if member | member_desc is undefined %}
                                                    None
                                                {% else %}
                                                    {{ member | member_desc }}
                                                {% endif %}
                                            </td>

                                            <td>
                                                {{ member }}
                                            </td>
                                            <td>
                                                <div class="btn-group mr-2" role="group" aria-label="group" style="width: auto;">
                                                    <a class="btn btn-primary" data-toggle="modal" data-target="#modal{{ key }}memberdesc" data-dismiss="modal" style="cursor: default;color: black;"> Description </a>
                                                    <a class="btn btn-info" data-toggle="modal" data-target="#modal{{ key }}ipmanagement" data-dismiss="modal" style="cursor: default;color: black;"> IP Management </a>
                                                    {% set md = network['id'] | member_detail(member) %}

                                                    {% if md['authorized'] == true %}
                                                            <div class="custom-control custom-checkbox" style="padding-left: 40px; padding-top: 7px;">
                                                                <input type="checkbox" class="custom-control-input" id="auth{{ member }}" checked>
                                                                <label class="custom-control-label" for="auth{{ member }}">Authorised</label>
                                                            </div>
                                                        {% elif md['authorized'] == false %}
                                                            <div class="custom-control custom-checkbox" style="padding-left: 40px; padding-top: 7px;">
                                                                <input type="checkbox" class="custom-control-input" id="auth{{ member }}">
                                                                <label class="custom-control-label" for="auth{{ member }}">Authorised</label>
                                                            </div>
                                                        {% endif %}

                                                        {% if md['activeBridge'] == true %}
                                                            <div class="custom-control custom-checkbox" style="padding-left: 40px; padding-top: 7px;">
                                                                <input type="checkbox" class="custom-control-input" id="bridge{{ member }}" checked>
                                                                <label class="custom-control-label" for="bridge{{ member }}">Bridged</label>
                                                            </div>
                                                        {% elif md['activeBridge'] == false %}
                                                            <div class="custom-control custom-checkbox" style="padding-left: 40px; padding-top: 7px;">
                                                                <input type="checkbox" class="custom-control-input" id="bridge{{ member }}">
                                                                <label class="custom-control-label" for="bridge{{ member }}">Bridged</label>
                                                            </div>
                                                    {% endif %}
                                                    
                                                    <script>
                                                        $(document).ready(function() {
                                                            $('#auth{{ member }}').val(this.checked);
                                                            $('#bridge{{ member }}').val(this.checked);
                                                            
                                                            $('#auth{{ member }}').change(function() {
                                                                if (this.checked) {
                                                                    window.location.href = "/member-auth?nwid={{ network['id'] }}&address={{ member }}";
                                                                } else {
                                                                    window.location.href = "/member-unauth?nwid={{ network['id'] }}&address={{ member }}";
                                                                }
                                                            });
                                                            
                                                            $('#bridge{{ member }}').change(function() {
                                                                if (this.checked) {
                                                                    window.location.href = "/member-bridge?nwid={{ network['id'] }}&address={{ member }}";
                                                                } else {
                                                                    window.location.href = "/member-unbridge?nwid={{ network['id'] }}&address={{ member }}";
                                                                }
                                                            });
                                                            
                                                            
                                                        });
                                                    </script>
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal{{ network['id'] }}routes" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}routesTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ network['id'] }}routesTitle">Routes: {{ network['name'] }} - {{ network['id'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                            <thead class="thead-dark">
                            <th scope="col"> Target </th>
                            <th scope="col"> Via </th>
                            <th scope="col"> Actions </th>
                            </thead>
                                <tbody>
                                    {% for route in network['routes'] %}
                                        {% if route is undefined %}
                                            <tr>
                                                <td> No routes found...</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            {% else %}
                                                <tr>
                                                    <td> {{ route['target'] }} </td>
                                                    <td> {{ route['via'] }} </td>
                                                    <td>
                                                        <div class="btn-group mr-2" role="group" aria-label="group">
                                                            <a class="btn btn-danger" href="/route-delete?nwid={{ network['id'] }}&route={{ route['target'] | urlencode }}" style="cursor: default;color: black;"> Delete </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <td> You can add additional routes, see Actions. </td>
                                        <td></td>
                                        <td> <a class="btn btn-primary" data-toggle="modal" data-target="#modal{{ network['id'] }}addroute" data-dismiss="modal" style="cursor: default;color: black;"> + </a> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal{{ network['id'] }}delete" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}deleteTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ network['id'] }}deleteTitle">Delete: {{ network['name'] }} - {{ network['id'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> Are you sure that you want to delete this network? </p>
                            <a class="btn btn-danger" href="/network-delete?nwid={{ network['id'] }}"> Yes </a>
                            <button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="No">
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modal{{ network['id'] }}detail" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}detailTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal{{ network['id'] }}detailTitle">Detail: {{ network['name'] }} - {{ network['id'] }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <code>
                                {{ network }}
                            </code>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

		{% for member in members %}
			{% for key in member %}

				<!-- Create network modal -->
				<div class="modal fade" id="modal{{ key }}memberdesc" tabindex="-1" role="dialog" aria-labelledby="memberDescTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="memberDescTitle">Member: {{ key }}</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body">
									<form action="/setmemberdesc" method="POST">
										<!-- Description -->
										<div class="form-group">
											<label for="network-name"> Description </label>
											<input type="text" class="form-control" name="description" aria-describedby="desc-help" placeholder="Enter Description">
											<small id="desc-help" class="form-text text-muted">Please enter desired description of this member. </small>
										</div>


										<div class="form-group">
											<input type="hidden" class="form-control" name="memberid" value="{{ key  }}">
										</div>

										<!-- Submit -->
										<button type="submit" class="btn btn-primary"> Submit </button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}
		{% endfor %}

	</body>
</html>
