<html>
	<body>
		{% include "base_loggedin.html" %}

		<br><br><br>

		<div class="container">
			<div class="jumbotron">
				<h1> Highlands </h1>
				<p> Networks on this controller: </p>
				<hr>
				<div>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNetworkCenter" style="margin-bottom: 25px;"> Create Network </button>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col"> Name </th>
								<th scope="col"> ID </th>
								<th scope="col"> Actions </th>
							</tr>
						</thead>
						<tbody>
							{% if networks|length <= 0 %}
								<tr>
									<td> No networks found... </td>
								</tr>
							{% endif %}
							{% for network in networks %}
								<tr>
									<td> {{ network['name'] }} </td>
									<td> {{ network['id'] }} </td>
									<td>
										<div class="btn-toolbar" role="toolbar" aria-label="Network Management Toolbar">
											<div class="btn-group mr-2" role="group" aria-label="group">
												<a type="button" class="btn btn-success" data-toggle="modal" data-target="#modal{{ network['id'] }}detail"> Detail </a>
												<a type="button" class="btn btn-info" href="/network-members?nwid={{ network['id'] }}"> Members </a>
												<a type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal{{ network['id'] }}setup"> Setup </a>
												<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ network['id'] }}delete"> Delete </a>
											</div>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
                                	{% with messages = get_flashed_messages() %}
                                        	{% if messages %}
							{% for message in messages %}
								{% if message == "OK-CREATED" %}
									<div class="alert alert-success" role="alert">
										<strong> Success! </strong> Network was created!
									</div>
								{% elif message == "ERROR-CREATED" %}
									<div class="alert alert-danger" role="alert">
										<strong> Error! </strong> Network couldn't be created, maybe it already exists?
									</div>
								{% elif message == "OK-DELETED" %}
									<div class="alert alert-success" role="alert">
										<strong> Success! </strong> Network was deleted!
									</div>
								{% elif message == "OK-DELETED" %}
									<div class="alert alert-danger" role="alert">
										<strong> Error! </strong> Network couldn't be deleted, network doesn't exist?
									</div>
								{% elif message == "OK-SETUP" %}
									<div class="alert alert-success" role="alert">
										<strong> Success! </strong> Network setup was successful!
									</div>
								{% elif message == "ERROR-SETUP" %}
									<div class="alert alert-danger" role="alert">
										<strong> Error! </strong> Network setup has failed!
									</div>
								{% endif %}
							{% endfor %}
                                        	{% endif %}
                                	{% endwith %}

				</div>
			</div>

		</div>

		{% include "footer.html" %}

	<!-- Create network modal -->
	<div class="modal fade" id="createNetworkCenter" tabindex="-1" role="dialog" aria-labelledby="createNetworkTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="createNetworkTitle">Create Network</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<form action="/createnetworkcheck" method="POST">
							<!-- Network Name -->
							<div class="form-group">
								<label for="network-name"> Network Name </label>
								<input type="text" class="form-control" name="network-name" aria-describedby="network-name-help" placeholder="Enter Network Name">
								<small id="network-name-help" class="form-text text-muted">Please enter desired network name. </small>
							</div>
							<!--
							<div class="form-group">
								<label for="network-cidr"> Network CIDR </label>
								<input type="text" class="form-control" name="network-cidr" aria-describedby="network-cidr-help" placeholder="Enter Network CIDR">
								<small id="network-cidr-help" class="form-text text-muted">Please enter desired CIDR. Example: 192.168.1.0/24 </small>
							</div>
							<div class="form-group">
								<label for="dhcp-start"> DHCP Start </label>
								<input type="text" class="form-control" name="dhcp-start" aria-describedby="dhcp-start-help" placeholder="Enter DHCP Start">
								<small id="dhcp-start-help" class="form-text text-muted">Please enter desired DHCP Start address. Example: 192.168.1.5 </small>
							</div>
							<div class="form-group">
								<label for="dhcp-end"> DHCP Start </label>
								<input type="text" class="form-control" name="dhcp-end" aria-describedby="dhcp-end-help" placeholder="Enter DHCP End">
								<small id="dhcp-end-help" class="form-text text-muted">Please enter desired DHCP Start address. Example: 192.168.1.200 </small>
							</div>
							-->
								<!-- Submit -->
							<button type="submit" class="btn btn-primary"> Submit </button>
						</form>
					</div>
				</div>
			</div>
		</div>

		{% for network in networks %}
		<div class="modal fade" id="modal{{ network['id'] }}setup" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}setupTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="modal{{ network['id'] }}setupTitle">Setup: {{ network['name'] }} - {{ network['id'] }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
							<form action="/setupnetworkcheck" method="post">
								<!-- IP Assignment CIDR -->
	                                                        <div class="form-group">
	                                                                <label for="cidr"> IP Assignment Pool CIDR </label>
									<input type="text" class="form-control" name="cidr" aria-describedby="cidr" placeholder="Enter IP Assignment CIDR">
									<small id="cidr-help" class="form-text text-muted">Example: 192.168.2.0/24 </small>
	                                                        </div>
	
	                                                        <!-- IP Assignment Pool Start -->
	                                                        <div class="form-group">
	                                                                <label for="ipassignment-start"> IP Assignment Pool Start </label>
	                                                                <input type="text" class="form-control" name="ipassignment-start" aria-describedby="ipassignment-start" placeholder="Enter IP Assignment Start">
	                                                                <small id="ipassignment-start-help" class="form-text text-muted">Example: 192.168.2.100 </small>
	                                                        </div>
	
	                                                        <!-- IP Assignment Pool Start -->
	                                                        <div class="form-group">
	                                                                <label for="ipassignment-end"> IP Assignment Pool Start </label>
									<input type="text" class="form-control" name="ipassignment-end" aria-describedby="ipassignment-end" placeholder="Enter IP Assignment End">
	                                                                <small id="ipassignment-end-help" class="form-text text-muted">Example: 192.168.2.254 </small>
	                                                        </div>
						
								<!-- NWID -->
								<div class="form-group">
									<input type="hidden" class="form-control" name="network-nwid" value="{{ network['id'] }}">
								</div>

								<!-- Submit -->
							        <button type="submit" class="btn btn-primary"> Submit </button>	
							</form>
						</div>
                                        </div>
                                </div>
                        </div>

                        <div class="modal fade" id="modal{{ network['id'] }}delete" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}deleteTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <h5 class="modal-title" id="modal{{ network['id'] }}deleteTitle">Delete: {{ network['name'] }} - {{ network['id'] }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria=label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                        </button>
                                                </div>
                                                <div class="modal-body">
                                                	<p> Are you sure that you want to delete this network? </p>
							<a type="button" class="btn btn-danger" href="/network-delete?nwid={{ network['id'] }}"> Yes </a>
							<button type="button" class="btn btn-warning" data-dismiss="modal" aria-label="No">
								No
							</button>
						</div>
                                        </div>
                                </div>
                        </div>


			<div class="modal fade" id="modal{{ network['id'] }}detail" tabindex="-1" role="dialog" aria-labelledby="modal{{ network['id'] }}detailTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal{{ network['id'] }}detailTitle">Detail: {{ network['name'] }} - {{ network['id'] }}</h5>
							<button type="button" class="close" data-dismiss="modal" aria=label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<code>
								{{ network }}
							</code>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}

	</body>
</html>
